- title "#{@artist.name} - The Birdsuit"
%h2= @artist.name
.two-third-box
  .wrapper.artist-main
    .bio-image= image_tag @artist.bio_pic_url, 'data-hover' => @artist.bio_pic_hover_url
    %h3 Biography
    .bio
      = simple_format(@artist.biography_text)
    %br.clear
.one-third-box
  .wrapper
    = link_to image_tag(@artist.bio_video_img_url, 'data-hover' => @artist.bio_video_img_hover_url), video_artist_path(@artist), :rel => "#overlay", :remote => true
.one-third-box
  .wrapper
    .tweet
.full-box
  %h2 Release <strong>Material</strong>
  .wrapper
    \ <a class="prev browse left"></a> 
    .scrollable
      .items
        \ <div class="workgroup">
        - @artist.releases.each_with_index do |r, i|
          - if i % 3 == 0 && i != 0
            \ </div>
            \ <div class="workgroup"> 
            .item= link_to image_tag(r.release_img_url, 'data-hover' => r.release_img_hover_url), artist_release_path(@artist, r), :rel => "#overlay", :remote => true
          - else
            .item= link_to image_tag(r.release_img_url, 'data-hover' => r.release_img_hover_url), artist_release_path(@artist, r), :rel => "#overlay", :remote => true
        \ </div>
    \ <a class="next browse right"></a> 
    %br.clear
- content_for :javascripts do
  = render 'tweet'
  = render 'scrollbar'