%h2 Latest <strong>News</strong>
.wrapper
%h2 Crowd <strong>Control</strong>
.wrapper
-content_for :sidebar do
  .wrapper
    Twitter
  %h2 Latest <strong>Release</strong>
  .wrapper
    = image_tag 'http://placehold.it/270x150'
  %h2 We <strong>Are</strong> The Bird Suit
  .wrapper
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
  %h2 Arch<strong>ive</strong>
  .wrapper
    = image_tag 'http://placehold.it/270x150'    