.two-third-box
  %h2 Featured <strong>News</strong>
  .wrapper
    = image_tag 'http://placehold.it/590x300'
.one-third-box
  %h2 Latest <strong>Release</strong>
  .wrapper
    = image_tag 'http://placehold.it/270x180'
.one-third-box
  .wrapper
    = image_tag 'http://placehold.it/270x56'
.full-box
  %h2 Artist <strong>Roster</strong>
  .wrapper
    = image_tag 'http://placehold.it/300x220'
    = image_tag 'http://placehold.it/300x220'
    = image_tag 'http://placehold.it/300x220'        