%h2 Featured <strong>News</strong>
.two-third-box
  .wrapper.featured{:style => "background:url('#{@featured.featured_img_url}')"}
    .featured-text
      %h3= link_to @featured.title, post_path(@featured)
      %p= @featured.summary
  
.one-third-box
  .wrapper
    = image_tag @release.release_img_url, "data-hover" => @release.release_img_hover_url
.one-third-box
  .wrapper
    .tweet
.full-box
  %h2 Artist <strong>Roster</strong>
  .wrapper
    - @artists.each do |artist| 
      = link_to image_tag(artist.bio_pic_url, "data-hover" => artist.bio_pic_hover_url), artist_path(artist)
  
-content_for :javascripts do
  = render 'tweet'