- title "Crowd Control Blog - The Birdsuit"
%h2 Latest <strong>News</strong>
.wrapper.featured{:style => "background:url('#{@featured.featured_img_url}')"}
  .featured-text
    %h3= link_to @featured.title, post_path(@featured)
    %p
      = truncate(@featured.summary, :length => 220)
      = link_to "Read More/Comment"
    
%h2 Crowd <strong>Control</strong>
.wrapper
  - @posts.each do |post| 
    %li.post
      %h3= link_to post.title, post_path(post)
      %small== Posted by: #{post.author} | Published on: #{post.published_date.strftime('%D')}
      = post.body.html_safe
      %p.comment-link
        = render :partial => 'shared/fb_like', :locals => {:item => post}
        = render :partial => 'shared/retweet', :locals => {:item => post}
        = link_to "Read More/Comment"
  = will_paginate(@posts)
-content_for :sidebar do
  .wrapper
    .tweet
  %h2 Latest <strong>Release</strong>
  .wrapper
    =link_to image_tag(@latest_release.release_img_url, 'data-hover' => @latest_release.release_img_hover_url), artist_release_path(@latest_release.artist_id, @latest_release), :rel => "#overlay", :remote => true
  %h2 We <strong>Are</strong> The Birdsuit
  .wrapper
    - @artists.each do |artist| 
      = link_to image_tag(artist.roster_pic_url, 'data-hover' => artist.roster_pic_hover_url), artist_path(artist)
  -#
    %h2 Arch<strong>ive</strong>
    .wrapper
      = image_tag 'http://placehold.it/270x160'
-content_for :javascripts do
  = render 'twitter'
  = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"