- title "#{@post.title} - The Birdsuit"
%h2= @post.title
.wrapper
  %small== Posted by: #{@post.author} | Published: #{@post.published_date.strftime('%D')}
  .post-body= @post.body.html_safe
  = render :partial => 'shared/fb_like', :locals => {:item => @post}
  = render :partial => 'shared/retweet', :locals => {:item => @post}
  .comments
    = render 'comments'
-content_for :sidebar do
  .wrapper
    .tweet
  %h2 Latest <strong>Release</strong>
  .wrapper
    = image_tag 'http://placehold.it/270x150'
  %h2 We <strong>Are</strong> The Birdsuit
  .wrapper
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
    = image_tag 'http://placehold.it/270x100'
  %h2 Arch<strong>ive</strong>
  .wrapper
    = image_tag 'http://placehold.it/270x150'
-content_for :javascripts do
  = render 'twitter'