- title "#{@post.title} - The Bird Suit"
%h2= @post.title
.wrapper
  %small== Posted by: #{@post.author} | Published: #{@post.published_date.strftime('%D')}
  .post-body= @post.body.html_safe
  = render :partial => 'shared/fb_like', :locals => {:item => @post}
  = render :partial => 'shared/retweet', :locals => {:item => @post}
  .comments
    = render 'comments'
-content_for :sidebar do
  .wrapper
    .tweet
  %h2 Latest <strong>Release</strong>
  .wrapper
    =link_to image_tag(@latest_release.release_img_url, 'data-hover' => @latest_release.release_img_hover_url), artist_release_path(@latest_release.artist_id, @latest_release), :rel => "#overlay", :remote => true

  %h2 We Are The Bird Suit
  .wrapper
    - @artists.each do |artist| 
      = link_to image_tag(artist.roster_pic_url, 'data-hover' => artist.roster_pic_hover_url), artist_path(artist)
    - @nonartists.each do |nonartist|
      = link_to image_tag(nonartist.roster_img_url, 'data-hover' => nonartist.roster_img_hover_url, :alt => nonartist.name), "mailto:#{nonartist.email}"

-content_for :javascripts do
  = render 'twitter'