.footerWrap
  .footer-links== #{link_to "Home", root_path} | #{link_to "Story", story_path} | #{link_to "Artists", artists_path} |#{link_to "Blog", blog_path} | #{link_to "Contact", contact_path}
  %p== &copy; #{Date.today.strftime('%Y')} The Bird Suit
.footer-credits
  == Design by #{link_to "CHINGEL", 'http://chingel.com'}
  %br
  Developed by
  = link_to "Kurios Creative Design", "http://kurioscreative.com"
