.headerWrap
  .header
    %h1= link_to image_tag('logo.png', :alt => "The Birdsuit"), root_path
    %nav
      %ul.nav
        %li= link_to "Story", story_path
        %li= link_to "Artists", artists_path
        %li= link_to "Blog", blog_path
        %li= link_to "Contact", contact_path
    %br{:style => "clear:both"}