!!! 5

= render :partial => 'layouts/head'
%body{ :lang => 'en', :class => "bp one-col #{controller.controller_name}" }
  %header
    = render :partial => 'layouts/header'
  #container
    #overlay.apple_overlay
      .contentWrap
    #content
      = render :partial => 'layouts/flashes'
      #breadcrumbs= crumbs
      = yield
  %footer
    .footer
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascripts'
