!!! 5

%head
  = render :partial => 'layouts/head'
  = render :partial => 'layouts/javascripts'

%body{ :lang => 'en', :class => "bp two-col #{controller.controller_name}" }
  %header
    = render :partial => 'layouts/header'
  #container
    #overlay.apple_overlay
      .contentWrap  
    #content
      = render :partial => 'layouts/flashes'
      #breadcrumbs= crumbs
      = yield
    #sidebar
      =yield(:sidebar)
  %footer
    = render :partial => 'layouts/footer'
